/* Light mode colors */
:root {
  --bg-color: #f2f1f0;
  --text-color: #222831;
  --header-color: #cddbf1;
  --navbar-bg: #eeeeee;
  --navbar-link-color: #222831;
  --navbar-hover-bg: #f0efee;
}

/* Dark mode colors */
.dark-mode {
  --bg-color: #3d4450;
  --text-color: #F8F6F4;
  --navbar-bg: #333b47;
  --navbar-link-color: #F8F6F4;
  --navbar-hover-bg: #434c5b;
}

.dark-mode h1 {
  text-shadow: 0 0 5px rgba(255, 0, 255, 0.9), 
                0 0 15px rgba(255, 0, 255, 0.7); 
}

html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Hind", sans-serif;
  text-align: left;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 10px;
}

h1{
  padding: 20px 30px;
  margin-bottom: 10px;
  font-size: 10vmin;
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  text-align: left;

  text-shadow: 0 0 5px rgba(0, 80, 255, 0.7), 
                0 0 10px rgba(0, 80, 255, 0.5), 
                0 0 15px rgba(0, 80, 255, 0.3);
}

div.content {
  padding: 20px 20px;
  height: 50vh;
}

p {
  margin: 0px 10px;
  font-size: 6vmin;
}

/* Navigation menu */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0px 15px;
  position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  background-color: var(--navbar-bg);
  overflow: hidden;
}

.nav-right {
  display: flex;
  gap: 0;
}

/* Navigation links */
.navbar a {
  display: flex;
  color: var(--navbar-link-color);
  text-decoration: none;
  font-size: 3vh;
  padding: 8px 12px;
  transition: color 0.3s, background 0.3s;
}

/* Mouse hover over link */
.navbar a:hover {
  background-color: var(--navbar-hover-bg);
  color: var(--text-color);
}

/* Dark mode toggle button */
#darkModeToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3vh;
  padding: 8px 0px;
  margin-left: 32px;
  margin-right: 8px;
  color: var(--navbar-link-color);
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

#darkModeToggle:hover {
  color: var(--text-color);
}

.landing-header {
  font-size: 15vw;
  text-align: center;
  margin-bottom: 0px;
}

.landing-subheader {
  font-size: 6vh;
  text-align: center;
}

.skills-section {
  text-align: center;
  height: 100vh;
}

.skills-grid {
  margin: 0px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-bottom: 6vh;
  padding-top: 8vh;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.skill i {
  font-size: 5vw;
  margin-bottom: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill p {
  font-size: 3vw;
  margin: 0;
}

.skill:hover {
  transform: scale(1.2);
}

.skill:hover i {
  filter: drop-shadow(0 0 10px #00BCD4);
}

.slideshow {
  position: relative;
  max-width: 80vw;
  margin: auto;
  overflow: hidden;
  align-items: center;
}

.slide {
  display: none;
  text-align: center;
}

.slide img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.description {
  margin-top: 10px;
  text-align: center;
  font-size: 5vmin;
  color: var(--text-color);
  max-width: 60vw;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 16px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 6vmin;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}