/* Light mode colors */
:root {
  --bg-color: #fefbf2;
  --text-color: #020607;
  --navbar-bg: #f8efe0;
  --hover-bg: #fdf6e6;
  --header-color: #41495c;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Dark mode colors */
.dark-mode {
  --bg-color: #1d221e;
  --text-color: #e1dcd6;
  --navbar-bg: #262b2e;
  --hover-bg: #2a3843;
  --header-color: var(--text-color);
  --box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.dark-mode h1 {
  text-shadow: 0 0 5px rgba(255, 0, 255, 0.9), 
                0 0 15px rgba(255, 0, 255, 0.7); 
}

html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Hind", sans-serif;
  text-align: left;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding-top: 10px;
}

h1{
  padding: 20px 30px;
  margin-bottom: 10px;
  font-size: 10vmin;
  font-family: "Nunito", sans-serif;
  color: var(--header-color);
  text-align: left;

  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 
                0 0 15px rgba(0, 255, 255, 0.3);
}

p {
  margin: 0px 10px;
  font-size: 6vmin;
}

/* Navigation menu */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0px 15px;
  position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  background-color: var(--navbar-bg);
  overflow: hidden;
}

.nav-right {
  display: flex;
  gap: 0;
}

/* Navigation links */
.navbar a {
  display: flex;
  color: var(--text-color);
  text-decoration: none;
  font-size: 3vh;
  padding: 8px 1vw;
  transition: color 0.3s, background 0.3s;
}

/* Mouse hover over link */
.navbar a:hover {
  background-color: var(--hover-bg);
  color: var(--text-color);
}

/* Dark mode toggle button */
#darkModeToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3vh;
  padding: 8px 0px;
  margin-left: 32px;
  margin-right: 8px;
  color: var(--text-color);
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

#darkModeToggle:hover {
  color: var(--text-color);
}

.landing-header {
  font-size: 15vw;
  text-align: center;
  margin-bottom: 0px;
}

.landing-subheader {
  font-size: 6vh;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2vw;
  flex-wrap: wrap;
  width: 100%;
}

.portrait {
  padding: 4vh 0;
}


.portrait img {
  max-width: 20vw;
  height: auto;
  display: block;
  border-radius: 12px;
  margin: 0 6vw;
}

.portrait img:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

.introduction {
  flex: 1;
}

.introduction p {
  padding: 3vh 0;
  margin-right: 6vw;
  font-size: 5vmin;
}

.skills-section {
  text-align: center;
  height: 100vh;
}

.skills-grid {
  margin: 0px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 5vh 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 12px;
}

.skill i {
  font-size: 5vw;
  margin: 15px 0px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill p {
  font-size: 3vw;
  margin: 0;
}

.skill:hover {
  transform: scale(1.2);
  background-color: var(--hover-bg);
}

.skill:hover i {
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.7));
}

.slideshow {
  position: relative;
  max-width: 80vw;
  margin: 8vh auto;

  align-items: center;
  display: flex;
  justify-content: center;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.description {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: var(--hover-bg);
  color: var(--text-color);
  padding: 2vmax;

  width: 50vw;
  height: 30vh;
  display: flex;

  border-radius: 12px;
  text-decoration: none;

  display: inline-flex;
}

.description:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

.description h2 {
  margin: 0;
  font-size: 6vmin;
}

.description p {
  margin: 0;
  font-size: 4vmin;
}

.description .date {
  margin: 0;
  font-size: 4vmin;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 6vmin;
  color: var(--text-color);
  user-select: none;
  padding: 16px;
}

.prev {left: 0;}
.next {right: 0;}

.prev:hover, .next:hover {
  color: rgba(0, 0, 0, 0.3);
}